mf0492-3servidor/uf1846/e6/WebServiceE6/clientecalculadora/web/WEB-INF/wsdl/localhost_8080/WebServiceCalcee/CalceeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://example.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://example.com/">

<xs:element name="Addition" type="tns:Addition"/>

<xs:element name="AdditionResponse" type="tns:AdditionResponse"/>

<xs:element name="Division" type="tns:Division"/>

<xs:element name="DivisionResponse" type="tns:DivisionResponse"/>

<xs:element name="Multiplication" type="tns:Multiplication"/>

<xs:element name="MultiplicationResponse" type="tns:MultiplicationResponse"/>

<xs:element name="Subtraction" type="tns:Subtraction"/>

<xs:element name="SubtractionResponse" type="tns:SubtractionResponse"/>

<xs:complexType name="Addition">
<xs:sequence>
<xs:element name="i" type="xs:float"/>
<xs:element name="j" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Multiplication">
<xs:sequence>
<xs:element name="i" type="xs:float"/>
<xs:element name="j" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MultiplicationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Subtraction">
<xs:sequence>
<xs:element name="i" type="xs:float"/>
<xs:element name="j" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubtractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Division">
<xs:sequence>
<xs:element name="i" type="xs:float"/>
<xs:element name="j" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>